@font-face {
    font-family: 'atari';
    src: url('atarist8x16systemfont-webfont.eot');
    src: url('atarist8x16systemfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('atarist8x16systemfont-webfont.woff') format('woff'),
         url('atarist8x16systemfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body{
     max-width:100%;
     max-height:100%;
     height: 100%;
     overflow:hidden;
     font-family: 'atari';
     margin: 0px;
     background-color: #555555;
}
.controller-body {
	position: relative;
	width: 100%;
	height: 240px;
}

#navigation {
	height: inherit;
}
#navigation .pad-button {
	width: 50px;
	height: 50px;
	background: red;
	position: absolute;
}

#navigation .pad-button[data-direction="n"] {
	top: 50px;
	left: 85px;
	background: url('/img/controller/n.png') no-repeat;
}

#navigation .pad-button[data-direction="ne"] {
	top: 50px;
	left: 140px;
	background: url('/img/controller/ne.png') no-repeat;
}

#navigation .pad-button[data-direction="nw"] {
	top: 50px;
	left: 30px;
	background: url('/img/controller/nw.png') no-repeat;
}

#navigation .pad-button[data-direction="e"] {
	top: 105px;
	left: 140px;
	background: url('/img/controller/e.png') no-repeat;
}

#navigation .pad-button[data-direction="c"] {
	top: 105px;
	left: 85px;
	background: url('/img/controller/c.png') no-repeat;
}

#navigation .pad-button[data-direction="w"] {
	top: 105px;
	left: 30px;
	background: url('/img/controller/w.png') no-repeat;
}

#navigation .pad-button[data-direction="se"] {
	top: 160px;
	left: 140px;
	background: url('/img/controller/se.png') no-repeat;
}

#navigation .pad-button[data-direction="s"] {
	top: 160px;
	left: 85px;
	background: url('/img/controller/s.png') no-repeat;
}

#navigation .pad-button[data-direction="sw"] {
	top: 160px;
	left: 30px;
	background: url('/img/controller/sw.png') no-repeat;
}

#navigation .pad-button[data-direction="n"].active {
	background: url('/img/controller/n_active.png') no-repeat;
}

#navigation .pad-button[data-direction="ne"].active {
	background: url('/img/controller/ne_active.png') no-repeat;
}

#navigation .pad-button[data-direction="nw"].active {
	background: url('/img/controller/nw_active.png') no-repeat;
}

#navigation .pad-button[data-direction="e"].active {
	background: url('/img/controller/e_active.png') no-repeat;
}

#navigation .pad-button[data-direction="c"].active {
	background: url('/img/controller/c_active.png') no-repeat;
}

#navigation .pad-button[data-direction="w"].active {
	background: url('/img/controller/w_active.png') no-repeat;
}

#navigation .pad-button[data-direction="se"].active {
	background: url('/img/controller/se_active.png') no-repeat;
}

#navigation .pad-button[data-direction="s"].active {
	background: url('/img/controller/s_active.png') no-repeat;
}

#navigation .pad-button[data-direction="sw"].active {
	background: url('/img/controller/sw_active.png') no-repeat;
}

#buttons div.button {
	height: 75px;
	width: 75px;
	position: absolute;
	left: 530px;
}

#buttons #kill {
	top: 150px;
	background: url("/img/controller/kill.png") no-repeat;
}

#buttons #kill_cd {
	top: 150px;
	background: url("/img/controller/kill_press.png") no-repeat;
	display: none;
	z-index: 999;
}


#buttons #love {
	top: 60px;
	background: url("/img/controller/love.png") no-repeat;
}

#buttons #love_cd {
	top: 60px;
	background: url("/img/controller/love_press.png") no-repeat;
	display: none;
	z-index: 999;
}

#miniCanvas{
	/*box-shadow: 7px 7px 8px #CCCCCC;*/
	background-color: #131313;
	width: 640px;
	height: 480px;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	/* more specific animation properties here */
}

div.controller-body{
	/*box-shadow: 7px 7px 8px #CCCCCC;*/
	background-color: #09f;
	bottom: 0px;
	height: 255px;
	width: 640px;
	background: url('/img/controller/nintendo_bg.png') no-repeat;
	/*padding: 10px;*/
}

div.score{
	position: absolute;
	top: 40px;
	height: 40px;
	width: 620px;
	padding: 10px;

	top: 10px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

#DEBUG{
	position: absolute;
	/*box-shadow: 7px 7px 8px #CCCCCC;*/
	z-index: 1001;
	bottom: 0px;
	width: 640px;
	height: 50px;
}

.ControllerWrap {
	width: 640px;
	margin: 0 auto;
	box-shadow: 0px 0px 13px #000;
}