html, body{
     max-width:100%;
     max-height:100%;
     overflow:hidden;
     margin: 0px;
}
.controller-body {
	position: absolute;
	width: 100%;
}

#navigation {
	height: inherit;
}
#navigation .stick {
	height: 150px;
	width: 150px;
	margin: 45px 35px;
}
#navigation .stick .stick-base {
	background: url('/img/controller/joybase.png') no-repeat;
	background-size: 100% 100%;
	width: 150px;
	height: 150px;
	cursor: move;
}

#navigation .stick #big-red-stick {
	background: url('/img/controller/joypad-head.png') no-repeat;
	background-size: 100% 100%;
	width: 75px;
	height: 75px;
	top: 37.5px;
	left: 37.5px;
	position: relative;
}

#buttons {

}

#buttons div.button {
	height: 75px;
	width: 75px;
	position: absolute;
	left: 530px;
}

#buttons #kill {
	background-color: #00FFFF;
	top: 150px;
	background: url("/img/controller/kill.png") no-repeat;
}

#buttons #love {
	top: 60px;
	background-color: #FFFF00;
	background: url("/img/controller/love.png") no-repeat;
}

#miniCanvas{
	position: absolute;
	/*box-shadow: 7px 7px 8px #CCCCCC;*/
	background-color: #131313;
	top: 0px;
	width: 640px;
	height: 420px;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	/* more specific animation properties here */
}

div.controller-body{
	position: absolute;
	/*box-shadow: 7px 7px 8px #CCCCCC;*/
	background-color: #09f;
	top: 480px;
	bottom: 0px;
	left: 0px;
	width: 640px;
	background: url('/img/controller/nintendo_bg.png') no-repeat;
	/*padding: 10px;*/
}

div.score{
	position: absolute;
	background-color: #ccc;
	top: 420px;
	height: 40px;
	width: 620px;
	padding: 10px;
}

#DEBUG{
	position: absolute;
	/*box-shadow: 7px 7px 8px #CCCCCC;*/
	background-color: #333;
	z-index: 1001;
	bottom: 0px;
	width: 640px;
	height: 50px;
}
