@font-face {
    font-family: 'atari';
    src: url('atarist8x16systemfont-webfont.eot');
    src: url('atarist8x16systemfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('atarist8x16systemfont-webfont.woff') format('woff'),
         url('atarist8x16systemfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'atari';
}

svg { height: 100%; width: 100%; }

#gameCanvas{
	position: absolute;
	/*box-shadow: 7px 7px 8px #CCCCCC;*/
	background-color: #131313;
	top: 0px;
	bottom: 0px;
	left: 250px;
	right: 0px;
	padding: 10px;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	/* more specific animation properties here */
}
}

#highscore{
	position: absolute;
	/*box-shadow: 7px 7px 8px #CCCCCC;*/
	background-color: #CCC;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 250px;
	padding: 10px;
}

canvas { width: 100%; height: 100% }
